.Portfolio{
    width: 20%;
    height: 40em;
    margin: auto;
    margin-top: -1px;
}
.Portfolio > img{
    border-radius: 50%;
    margin: auto;
    display: block;
    margin-top: 10px;
}
.Portfolio {
    animation: Galaxy 5s infinite linear;
    text-align: center;
}
@keyframes Galaxy {
    0%{
        background-image: url(../../Arquivos/Galaxy.jpg);
        -webkit-background-clip: text;
        background-position: center;
        color: rgba(0,0,0,0);
    }
    100%{
        background-image: url(../../Arquivos/Galaxy.jpg);
        -webkit-background-clip: text;
        color: rgba(0,0,0,0);
        background-size: cover;
    }
}